## 1. Number

“Mod” Operator

In [4]:
7%4

3

In [5]:
50%5

0

In [6]:
23%2

1

Power

In [7]:
2 ** 3

8

Check "type" because Python variable type is not static

In [8]:
a = 20.3

type(a)

float

## 2. String

In [9]:
print("hello")

hello

In [12]:
print('hello \n world') # \n start a new line

hello
 world

In [11]:
print('hello \t world') # \t tab

hello 	 world

In [13]:
len('I am') # space counted as well

4

### 2.1 String Indexing

In [14]:
mystring = 'hello world'
mystring[8]

'r'

In [15]:
mystring[-3]  # -1 to grad the last letter of the string

'r'

In [16]:
mystring[2:] # start from number 2 position but including it

'llo world'

In [17]:
mystring[:2] # go up to number 2 position but not including it

'he'

In [19]:
mystring[2:5]

'llo'

In [20]:
mystring[::2] # from position 0 to the last position, with a step size of 2

'hlowrd'

In [21]:
mystring[::-1] # reverse a string

'dlrow olleh'

In [22]:
'hello world'[-1] # you can just use the string it sell with indexing

'd'

### 2.2 String immutability

(strings are not mutable, meaning you can't use indexing to change individual elements of a string)

In [23]:
x = 'hello'

In [24]:
x + ' you are beautiful' # string concatenation

'hello you are beautiful'

In [25]:
letter = 'z'

In [26]:
letter * 10

'zzzzzzzzzz'

In [27]:
2+3

5

In [28]:
'2' + '3' # pay attention to the type

'23'

In [29]:
x = 'hello world'

In [30]:
x.upper()  # type x. then tab, you'll have the list of built in functions  # also, don't miss the () that execute it

'HELLO WORLD'

In [31]:
x.split() # it still split the string based on the blank space, and remove the space used as the splitter

['hello', 'world']

In [33]:
x = 'this is a string'
x.split('i')  # can also split by the 'i', and 'i' gets removed in the mean time

['th', 's ', 's a str', 'ng']

### 2.3 String printing formating

'String here {} then also {}'.format('something1', 'somthing2')

In [34]:
print('This is a string {}'.format('inserted'))

This is a string inserted

In [36]:
print('the {} {} {}'.format('fox','br','qu'))

the fox br qu

In [37]:
print('the {2} {1} {0}'.format('fox','br','qu')) # you can assign the position

the qu br fox

In [38]:
print('the {2} {2}'.format('fox','br','qu'))

the qu qu

In [40]:
print('the {f} {b} {q}'.format(f='fox',b='br',q='qu'))

the fox br qu

In [41]:
print('the {f} {f}'.format(f='fox',b='br'))

the fox fox

### 2.4 float formatting

"{value:width.precision f}"  -> there's no space between precision and f

In [43]:
result = 103.235432

In [47]:
print('the result is {r:1.3f}'.format(r = result)) 
# the width is just how long this printed float is, usualy we just have it as 1

the result is 103.235

f string

In [48]:
name = 'bei'

In [49]:
print(f'hello his name is {name}')

hello his name is bei

In [50]:
age = 3

In [51]:
print(f'{name} is {age} years old')

bei is 3 years old

"result:{value:{width}.{precision}}"

In [53]:
num = 24.3352
print(f"my 10 character, four decimal number is:{num:{10}.{6}}")

my 10 character, four decimal number is:   24.3352

## 3. Lists

Lists can contain any types of items in it. When it's an integer or float, don't use quote, ot it will become a string

In [88]:
["it's a string",1, 93.2]

["it's a string", 1, 93.2]

In [54]:
mylist = ['one','two','three']

In [55]:
mylist[0]

'one'

In [56]:
mylist[1:] # indexing of list is the same as indexing the string

['two', 'three']

In [57]:
another_list = ['four','five']

In [58]:
mylist + another_list # concatenate to a new list

['one', 'two', 'three', 'four', 'five']

In [60]:
mylist[0] = 'ONE ALL CAPS' # list is different from string here, can change it by its position

In [61]:
mylist

['ONE ALL CAPS', 'two', 'three']

.append()

In [63]:
mylist.append('six')  # mylist. and then tab, you'll have a list of built-in function, and append() is one of them
mylist

['ONE ALL CAPS', 'two', 'three', 'six', 'six']

In [64]:
mylist.pop() # pop off (drop) the last item in the list, and also print it here

'six'

In [65]:
mylist

['ONE ALL CAPS', 'two', 'three', 'six']

.pop()

In [66]:
popped_item = mylist.pop()

In [67]:
popped_item

'six'

In [69]:
mylist.pop(0)  # can assign the position to pop off (drop)

'two'

In [70]:
mylist

['three']

In [74]:
new_list = ['a','e','x','k','m']

In [84]:
num_list = [3,2,0,6]

.sort()

In [77]:
new_list.sort()
new_list # sort() already sorted the original list, and it doesn't return a new list that's sorted

['a', 'e', 'k', 'm', 'x']

In [78]:
catch_new_list = new_list.sort()

In [79]:
catch_new_list

In [80]:
type(catch_new_list) # see it's none now

NoneType

.reverse()

In [86]:
num_list.reverse() # reverse the sequence

In [87]:
num_list

[6, 0, 2, 3]

## 4. Dictionary

Dictionary doesn't retain order. check out ordereddict object if needed it.

In [ ]:
prices_lookup = {'apple':2.99, 'orange':3, 'milk':1.9}

indexing

In [90]:
prices_lookup['orange']

3

In [91]:
d = {'k1':123, 'k2':[0,1,2],'k3':{'insidekey':100}}

In [92]:
d['k3']

{'insidekey': 100}

call a nested dictionary value

In [93]:
d['k3']['insidekey']

100

In [95]:
d['k2'][2] # the value that's in the index / position #2

2

In [97]:
d2 = {'k2':[0,3,'e']}

In [98]:
d2['k2'][2].upper() # three things happened, and the last one is just using upper() for list

'E'

add a new key-value pair

In [99]:
d3 = {'k1': 100, 'k2': 200}

In [100]:
d3['k3'] = 300 # this is how to add a new key-value pair into an existing dictionary

In [101]:
d3

{'k1': 100, 'k2': 200, 'k3': 300}

overwrite the value

In [102]:
d3['k1'] = 'NEW VALUE' # overwrite to a new value of a key-value pair

In [103]:
d3

{'k1': 'NEW VALUE', 'k2': 200, 'k3': 300}

call the keys()   values()     items()

In [104]:
d3.keys()

dict_keys(['k1', 'k2', 'k3'])

In [105]:
d3.values()

dict_values(['NEW VALUE', 200, 300])

In [106]:
d3.items()

dict_items([('k1', 'NEW VALUE'), ('k2', 200), ('k3', 300)])

In [107]:
d3

{'k1': 'NEW VALUE', 'k2': 200, 'k3': 300}

## 5. Tuples

In [109]:
t = (1,2,3)

In [110]:
type(t)

tuple

In [111]:
t = ('one',1,3.45) # tuple can have mixed element type

In [123]:
t = (1,2,[3,4]) # this is a tuple too

In [112]:
t[0]

'one'

In [113]:
t[-1]

3.45

In [115]:
t = ('a','a','c')

In [116]:
t.count('a') # count how many 'a' in the tuple

2

In [117]:
t.index('c') # return the first position that 'c' showed up

2

immutable, not like list, you can't change element position in tuple. this is the only difference between string vs. tuple.

In [119]:
t = (1,2,3)

In [118]:
mylist = [1,2,3]

In [120]:
mylist[0] = 'new'

In [121]:
mylist

['new', 2, 3]

In [125]:
t[0] = 'new' # this returns an error because tupel is immutable

TypeError: 'tuple' object does not support item assignment

## 6. sets

un-ordered, unique

In [127]:
myset = set()

In [149]:
myset.add(1) # for set, this is how to add an element, not append()

In [129]:
myset

{1}

In [130]:
myset.add(2)

In [131]:
myset

{1, 2}

In [134]:
myset.add(2) # can't add another "2" since set is unique

In [135]:
myset

{1, 2}

In [136]:
mylist = [1,2,1,2,1,1,2,2,3]

In [150]:
set(mylist)

{1, 2, 3}

In [151]:
set([1,1,2,4,2]) # set takes the unique elements of a list

{1, 2, 4}

## 7. boolean

In [138]:
True

True

In [140]:
true   # you need to capitalize T

NameError: name 'true' is not defined

In [142]:
type(False)  # check the type

bool

In [144]:
1 > 2

False

In [145]:
1 == 1

True

In [148]:
b = None # set b to None so it'a placeholder with a None data type so you don't get an error saying "b" is not defined

In [147]:
b